.ChatMain__messageBox{data: {message: {id: message.id}}}
  .ChatMain__messageBox-info
    .ChatMain__messageBox-info-name
      = message.user.name
    .ChatMain__messageBox-info-date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .ChatMain__messageBox-message
    - if message.content.present?
      %p.Message__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?